.header{
    margin-right: 20px;
    margin-left: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
nav h1{
    color: blueviolet;
    font-size: 53px;
}

nav ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li{
    padding-left: 20px;
    padding-top: 15px;
}

nav ul li a{
    text-decoration: none;
    color: blueviolet
}

.nav-search{
    flex: 1;
    display: flex;
    margin-right: 5%;
    margin-top: 5px;
    margin-left: 5%;
}
nav .nav-search input{
    flex: 1;
    color: blueviolet;
    height: 35px;
    border: 1px solid blueviolet;
    border-right: 0px;
}
nav .nav-search button{

    color: blueviolet;
    height: 39px;
    border: 1px solid blueviolet;
    
}

