<div *ngIf="!showloginform" class="seller-auth">
    <div class="signup">

        <h1>Signup Form</h1>

        <form class="common-form" #sellerSignup="ngForm" (ngSubmit)="signUp(sellerSignup.value)" >
            <input class="form-input" type="text" placeholder="Enter Name" name="name" ngModel>
            <input class="form-input" type="password" placeholder="Enter Password" name="password" ngModel>
            <input class="form-input" type="email" placeholder="Enter Email" name="email" ngModel>
            <button type="submit" class="form-button">Singup</button>
        </form>

        <div class="tologinOrsignup-cont">Already have Account? <a (click)="directToLoginForm()">SignIn Here</a></div>

    </div>
    
</div>


<div *ngIf="showloginform" class="seller-auth">
    <div class="signup">

        <h1>Login Form</h1>

        <div class="show-error">{{ErrMsgDisplaylogin}}</div>

        <form class="common-form" #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" >
            
            <input class="form-input" type="email" placeholder="Enter Email" name="email" ngModel>
            <input class="form-input" type="password" placeholder="Enter Password" name="password" ngModel>
            <button type="submit" class="form-button">Login</button>
        </form>

        <div class="tologinOrsignup-cont">Don't have Account? <a (click)="directToSignupForm()">SignUp Here</a></div>

    </div>
</div>