body{
    font-family: sans-serif;
}

.common-form{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 50%;
}

.form-input{
    height: 35px;
    padding-bottom: 10px;
    padding: 8px;
    margin-bottom: 30px;
    border: 1px solid blueviolet;
    color: blueviolet;
}

.form-button{
    height: 35px;
    padding: 5px;
    height: 46px;
    font-weight: 600;
    color: blueviolet;
}
.signup h1{
    display: flex;
    margin: auto;
    text-align: center;
    flex-flow: column;
    margin-bottom: 34px;
}